includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 5
    paths:
        - src

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    ignoreErrors:
        # Doctrine assigne les IDs via reflection — PHPStan ne le voit pas sans phpstan-doctrine
        - '#Property App\\Entity\\[a-zA-Z]+::\$id \(.*\) is never assigned \w+ so it can be removed from the property type\.#'
